.r-poiln3, .r-37j5jr {
    font-family: 'TwitterChirp-PrivateCodePoints', -apple-system, BlinkMacSystemFont, 'Segoe UI Variable Display', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.r-135wba7 {
    line-height: 26px !important;
}
